.project
.idea/
/node_modules/
/frontend/*/frameworks/

/frontend/*/*/*/requireJsConfig.js
/frontend/*/*/*/chatConfig.json
/frontend/*/*/requireJsConfig.js
/frontend/*/*/chatConfig.json

.settings/
/backend/java/.settings/
