body{
    padding: 3px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
    color: #00B7FF;
}

#content{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#room{
    background-color: #DDDDDD;
    margin-bottom: 1em;
}

#messages{
    width: 690px;
    height: 300px;
    overflow: auto;
    background-color: #eeeeee;
    margin-bottom: 1em;
    margin-right: 10px;
}

#roomList{
    float: right;
    width: 100px;
    height: 300px;
    overflow: auto;
}

#roomList div{
    border-bottom: 1px soild #eeeeee;
}

#roomList div:hover{
    background-color: #DDDDDD;
}

#sendMessage{
    width: 650px;
    margin-bottom: 1em;
    margin-right: 1em;
}

#help{
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}